* {
    font-family: 'Muller Regular', sans-serif;
}

.todo-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-shadow: 0rem 0.25rem 1.1125rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.25rem 1.1125rem rgba(0, 0, 0, 0.1);
    border: none;
    padding: 1.25rem;
    border-radius: 1.3125rem;
    margin-bottom: 4.1875rem;
}

.todo-form__input {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 1.5rem;
    outline: none;
}

.todo-form__input::-webkit-input-placeholder {
    color: #A4A4A4;
}

.todo-form__input::-moz-placeholder {
    color: #A4A4A4;
}

.todo-form__input:-ms-input-placeholder {
    color: #A4A4A4;
}

.todo-form__input::-ms-input-placeholder {
    color: #A4A4A4;
}

.todo-form__input::placeholder {
    color: #A4A4A4;
}

.todo-form__button {
    width: 3.9rem;
    height: 3.125rem;
    background: none;
    border: 0.0625rem solid #30324B;
    border-radius: 0.625rem;
    cursor: pointer;
    padding: 0;
}

.todo-form__error {
    position: absolute;
    bottom: -1.875rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #FF2F2F;
}

/* item  */

.todo-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 1.2rem;
    -webkit-box-shadow: 0rem 0.25rem 1.1125rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.25rem 1.1125rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1.3125rem;
}

.todo-list__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
}

/* list  */

.todo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list__error {
    color: #FF2F2F;
}

.filter-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.09rem;
    margin-bottom: 2rem;
}

.filter-buttons__all {
    color: #30324B;
    border: 0.125rem solid #30324B;
}

.filter-buttons__all:active {
    background-color: #30324B;
    color: #FFFFFF;
    border: 0.125rem solid #30324B;
}

.filter-buttons__all:hover {
    background-color: #575A84;
    color: #FFFFFF;
    border: 0.125rem solid #30324B;
}

.filter-buttons__all:focus {
    background-color: #30324B;
    color: #FFFFFF;
    border: 0.125rem solid #A4A4A4;
}

.filter-buttons__done {
    border: 0.125rem solid #6AD400;
    color: #6AD400;
}

.filter-buttons__done:active {
    background-color: #6AD400;
    border: 0.125rem solid #6AD400;
    color: #FFFFFF;
}

.filter-buttons__done:hover {
    background-color: #CEFF9D;
    border: 0.125rem solid #6AD400;
    color: #6AD400;
}

.filter-buttons__done:focus {
    background-color: #6AD400;
    border: 0.125rem solid #CEFF9D;
    color: #FFFFFF;
}

.filter-buttons__no-done {
    border: 0.125rem solid #FF2F2F;
    color: #FF2F2F;
}

.filter-buttons__no-done:active {
    border: 0.125rem solid #FF2F2F;
    color: #FFFFFF;
    background-color: #FF2F2F;
}

.filter-buttons__no-done:hover {
    border: 0.125rem solid #FF2F2F;
    color: #FF2F2F;
    background-color: #FFB8B8;
}

.filter-buttons__no-done:focus {
    border: 0.125rem solid #FFB8B8;
    color: #FFFFFF;
    background-color: #FF2F2F;
}

.filter-buttons button {
    padding: 0.6rem 0.8rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.filter-buttons button:disabled {
    background: #F2F3F5;
    border: 0.125rem solid #F2F3F5;
    cursor: not-allowed;
    color: #DEDEDE;
}

.todo-list__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.todo-list__checkbox {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0.13rem solid #A4A4A4;
    border-radius: 50%;
    cursor: pointer;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.todo-list__checkbox:hover {
    background-color: #D9D9D9;
}

.todo-list__checkbox:checked {
    border-color: #6AD400;
    background-color: #6AD400;
}

.todo-list__checkbox:checked+span {
    text-decoration: line-through;
}

.todo-list__day {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.1rem;
    margin-bottom: 1.25rem;
    font-family: 'Muller Bold', sans-serif;
}

.todo-list__text {
    font-size: 1rem;
    margin-left: 1.875rem;
    text-align: left;
    word-wrap: break-word;
}

.todo-list__edit,
.todo-list__remove {
    cursor: pointer;
    margin-right: 0.56rem;
}

.todo-list__edit {
    margin-right: 0.75rem;
}

.active svg path {
    stroke: #0013FF;
}

.todo-list__edit svg path {
    -webkit-transition: stroke 0.3s ease, background-color 0.3s ease;
    -o-transition: stroke 0.3s ease, background-color 0.3s ease;
    transition: stroke 0.3s ease, background-color 0.3s ease;
}

.todo-list__edit svg {
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.todo-list__edit svg:active path {
    stroke: #0013FF;
}

.todo-list__edit svg:hover path {
    stroke: #606492;
}

.todo-list__edit svg:focus {
    outline: none;
    background-color: #A4A4A4;
}

.todo-list__remove svg path {
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.todo-list__remove svg {
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.todo-list__remove svg:hover path {
    fill: #FF9B9B;
}

.todo-list__remove svg:focus {
    outline: none;
    background-color: #A4A4A4;
}

.todo-list__save {
    color: #0013FF;
    cursor: pointer;
    margin-right: 0.8rem;
}

.todo-list__save:hover {
    color: #515cfc;
}

.todo-list__input-edit {
    width: 100%;
    margin-left: 1.875rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid #878787;
    font-size: 1rem;
    outline: none;
    word-wrap: break-word;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}